
.activeLink{
    color: black;
    
}

nav ul .activeList  {
    background-color:rgb(245, 153, 106);
    cursor: pointer;
    color: black;
}

nav ul .activeList:hover  {
    background-color:rgb(245, 153, 106);
    cursor: pointer;
    color: white;
}


.auth {
    max-width: 400px;
    margin: auto;
    padding: 30px;
    text-align: center;
    background: white;
    border-radius: 5px;
    margin-top: 100px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}

.auth input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #DC143C;
    background-color: #f5f0f1;
}

.auth button {
    background: #DC143C;
    color: white;
    padding: 10px;
    border: 1px solid #faf6f7;
    cursor: pointer;
    border-radius: 5px;
}

.auth button:hover {
    background: #fbfafa;
    color: black;
    padding: 10px;
    border: 1px solid #DC143C;
    cursor: pointer;
    border-radius: 5px;
}

.auth a {
    color: rgb(74, 74, 232);
    cursor: pointer;
}

.auth a:hover {
    color: rgb(10, 10, 177);
    cursor: pointer;
}





